# pnpm configuration
auto-install-peers=true
dedupe-peer-dependents=false
enable-pre-post-scripts=true
fund=false
hoist=true
hoist-pattern[]=*eslint*
hoist-pattern[]=*prettier*
prefer-frozen-lockfile=true
public-hoist-pattern[]=*types*
save-exact=false
shamefully-hoist=false
strict-peer-dependencies=false
